
body{
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,48,9,1) 32%, rgba(0,212,255,1) 80%);
}

ul li {
   width: 70%;
   padding: 1rem;
   margin: .7rem;
   border: 2px solid white;
   list-style-type: none;
   display: flex;

}

ul li:hover{
   cursor: pointer;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 45%, rgba(0,212,255,1) 100%);
}